@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src : url(Roboto.woff);
}
body
{
	background-color : 	#F2F6F6;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
}

/*wrapper referes to the div covering the two collapsable sections*/
#wrapper_1,#wrapper_2
{
	background-color : 	#F2F6F6;
	border : 0px solid black;
}

/*panel heading refers to just the filled banner at top of each collapsable*/
#panel_heading_1,#panel_heading_2
{
	background-color: #99eeee;
	font-size: 22px;
}
#panel_heading_2
{
	background-color:#33FF33;
}
/*toggle refers to the section of the collapsable not including the heading i.e the content*/
#toggle_1, #toggle_2
{
	width : 90%;
	margin : 0px auto;
	background-color : white;
	padding : 10px 20px;
	box-shadow : 5px 5px 10px #D7DDDD;
}

/*Section refers to the individual headings in the forms*/
#section_1,#section_2
{
	margin: 7px 0px;
	padding: 5px 0px;
	border: 1px solid #66eeee;
	box-shadow: 1px 1px 1px #66eeee;
	font-size: 20px;
}
#section_2
{
	border: 1px solid #33FF33;
	box-shadow: 1px 1px 1px #33FF33;
}
#section_content_1
{
	border-left : 1px solid #66eeee;
	border-right : 1px solid #66eeee;
}

/*the left coloumns which has to be right-aligned*/
#right
{
 text-align:right;
}

/*the arrows to the right of each heading of a collapsable*/
#toggle_image_1, #toggle_image_2
{
	height:30px;
	width:30px;
	float:right;
}
#toggle_image_1:click,#toggle_image_2:click
{
 -webkit-transition : rotate 1s ease-in;
 -moz-transition : rotate 1s ease-in;
 -ms-transition : rotation 1s ease-in;
 rotate +=180deg;
}