/*	seciton_heading_1 refers to headings within 1st collapsable ,
	section_body_1 refers to content corresponding to heading ,
	
	seciton_heading_2 refers to headings within 2nd collapsable ,
	section_body_2 refers to content corresponding to heading ,
	
	wrapper_heading_1 refers to heading of 1st collapsable
	wrapper_content_1 to the content inside of the entire 1st collapsable ,
	wrapper_heading_2 refers to heading of 2nd collapsable
	wrapper_content_2 to the content inside the entire 2nd collapsable ,
*/

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src : url(../fonts/Roboto.woff);
}

@font-face {
    font-family: 'TrebuchetMS'; /*a name to be used later*/
    src: url('../fonts/TrebuchetMS.ttf'); /*URL to font*/
    font-weight: 400;
}
body
{
background-color: #F2F6F6;
min-width : 250px;
}
.container
{
 margin : 0px;
 width : 100%;
}
.panel
{
 margin : 7px;
 border-color:#0085c3;
}


.panel-primary>.panel-heading
{
	/*background: -moz-linear-gradient(-90deg, #295697, #448CCB);
 	background: -webkit-gradient(linear, left top, left bottom, from(#295697), to(#448CCB));*/
 	background-color: #0085c3;
	padding :15px;
	font-family: 'TrebuchetMS';
}
.col-lg-6, .col-md-6, .col-sm-6
{
	margin: 0xp 15px;
}

#slideable-body
{
display: none;
}

#contact,#details
{
padding-right: 0px;
  padding-left: 0px;
}

#wrapper_heading_1,#wrapper_heading_2
{
	font-size : 16px;
	color : white;
	cursor : pointer;
}

#toggle_image
{
	float : right;
}

#footer
{
	border-top : 1px solid #e1e5e5;
	margin-top : 30px;
	height : 10%;
	padding : 20px;
	color : red;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
}
#footer>a:hover
{
  text-decoration : none;
}

.row:nth-child(even)
{
	background: #E6F5FA;
}

.row:first-child
{
	background: #0085c3;
	color: white;
}