
body
{
background-color: #F2F6F6;
min-width : 250px;
}

.panel
{
 margin : 7px;
}

.panel-heading
{
	padding :15px;
	font-weight : bold;
}

#contact
{
padding-right: 5px;
  padding-left: 5px;
}

#wrapper_heading_1,#wrapper_heading_2
{
	font-size : 16px;
	color : white;
	cursor : pointer;
}

#toggle_image_1,#toggle_image_2
{
	float : right;
}

#footer
{
	border-top : 1px solid #e1e5e5;
	margin-top : 30px;
	height : 10%;
	padding : 20px;
	color : red;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
}
#footer>a:hover
{
  text-decoration : none;
}

