/*	seciton_heading_1 refers to headings within 1st collapsable ,
	section_body_1 refers to content corresponding to heading ,
	
	seciton_heading_2 refers to headings within 2nd collapsable ,
	section_body_2 refers to content corresponding to heading ,
	
	wrapper_heading_1 refers to heading of 1st collapsable
	wrapper_content_1 to the content inside of the entire 1st collapsable ,
	wrapper_heading_2 refers to heading of 2nd collapsable
	wrapper_content_2 to the content inside the entire 2nd collapsable ,
*/

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src : url(../fonts/Roboto.woff);
}
body
{
	background-color: #F2F6F6;
	/*font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;*/
	min-width : 250px;
}

/*This is to regulate the panel look-and-feel*/
.panel
{
 margin : 7px;
}
.panel-heading
{
	padding :15px;
	font-weight : bold;
}

/*Wrapper heading refer to main heading of each collapsable*/
#wrapper_heading_1,#wrapper_heading_2
{
	font-size : 18px;
	color : white;
	cursor : pointer;
}

#section_body_1,#section_body_2
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}

#toggle_image_1,#toggle_image_2
{
	height : 30px;
	width : 30px;
	float : right;

}
