h3 {
                padding: 5px;
                font-size: 15px;
                font-weight: bold;
                text-align: left;
                background: #d8e69c;
            }
.container-fluid {
                padding: 0 15px;
            }

dt {
              text-align:right;
              margin-left: 20%;
               /* border-bottom: 1px solid #999; */
          }
dl {
                border: 3px double #ccc;
                padding: 10px;
                cursor : default;
               
            }
                
dt:after {
                content: ":";
            }
dt:hover {
                color: #700303;
               
            }
dd {
                text-indent: 5%;
               /* border-bottom: 1px solid #999; */
            }


